/* 기본 스타일 설정 */
* {
  margin: 0;
  padding: 0;
  font-family: "D2Coding", sans-serif;
}

/* 푸터 컨테이너 */
#container_footer {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  gap: 10%; 
  height: 150px;
  width: 100%; 
  padding: 1rem; 
  position: relative;
}

/* 푸터 네비게이션 */
#Footer_Nav {
  width: 100%;
  min-width: 1200px; /
}

/* 푸터 로고 이미지 */
#Footer_Nav img {
  height: auto;
  width: 4vw; 
}

/* 네비게이션 링크 */
#Footer_Nav .nav-link {
  font-size: 1.2em; 
  padding: 0.5rem 1rem; 
  color: #000; 
  text-decoration: none; 
}
