#container_footer {
  display: flex; /* Flexbox로 설정 */
  flex-direction: column; /* 세로 방향으로 배치 */
  align-items: center; /* 가로로 가운데 정렬 */
  justify-content: space-between; /* 텍스트 사이에 간격을 고르게 배치 */
  height: 50px;
}
