/* 기본 헤더 스타일 */
#container_header {
  display: flex;
  justify-content: space-between; /* 기본적으로 로고 왼쪽, 메뉴 오른쪽 */
  align-items: center;
  gap: 3vw;
  margin: 0 auto;
  min-width: 1200px; /* 최소 너비 설정 */
}

#text {
  padding-top: 1.5em;
  gap: 1vw;
  font-size: 2em;
}

#titlelogo {
  width: 500px;
  display: block;
  padding: 0;
  margin: 0;
  min-width: 500px;
}

#Nav_header {
  width: 100%;
  height: 150px;
  min-width: 1200px;
}

hr {
  border: 2px solid #39278b;
}

* {
  font-family: "D2Coding", sans-serif;
}
