/* 기본 스타일 설정 */
* {
  font-family: "D2Coding", sans-serif;
  margin: 0;
  padding: 0;
}

/* 전체 헤더 컨테이너 */
#container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  width: 100%;
  max-width: 100%;
  padding-right: 4vw;
  position: relative;
}

/* 로고 */
#titlelogo {
  width: 20vw;
  height: auto;
  margin-left: 4vw;
  padding-bottom: 3vh;
  padding-right: 0;
}

/* 메뉴 텍스트 */
#text {
  display: flex;
  justify-content: space-between;
  gap: 5em;
  font-size: 1vw;
  width: 100%;
}

/* 네비게이션 링크 스타일 */
#text .nav-link {
  font-size: 1.5vw;
  padding: 0.5em 1em;
  display: inline-block;
}

/* 네비게이션 바 */
#Nav_header {
  width: 100%;
  margin: 0;
  padding: 0;
}
