.login_all {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.Login {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.login_main_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3a278b;
  margin-bottom: 0.5vw;
}

.Login_Logo {
  width: 12vw;
  height: auto;
}

.Login_text1 {
  font-size: 4vw;
  font-weight: bold;
  margin-top: 1vw;
  font-family: "ghanachoco", sans-serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  box-sizing: border-box;
}

.id,
.password,
.Login_btn {
  margin-bottom: 1vw;
  width: 100%;
}

.ant-form-item-explain {
  font-size: 1.2vw !important;
  color: red;
}

.input_input,
.password_pw {
  height: 3vw;
  padding: 0 2vw;
  font-size: 1.2vw;
  border-radius: 1vw;
  box-sizing: border-box;
}

.Login_btn_btn {
  width: 100%;
  height: 3vw;
  font-size: 1.2vw;
  color: white;
  border-radius: 1vw;
}

.srh {
  margin-top: 1vw;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.srh a {
  font-size: 1.2vw;
  color: black;
  text-decoration: none;
  margin: 0 2vw;
}

footer {
  margin-top: auto;
}
