.Review_text {
  text-align: center;
  color: #3a278b;
  font-family: "KIMM_Bold", sans-serif;
  font-size: 5vw;
  margin-bottom: 2vh;
  padding-top: 3vh;
}

.Review_Check_Logo {
  display: block;
  margin: 0 auto;
  width: 30vh;
  height: 30vh;
}

.Review_Check_input {
  width: 60vw;
  border-radius: 50em;
  background-color: #9fa9e9;
  color: white;
  padding: 10px;
  height: 3.5vw;
  font-size: 2vw;
  margin-bottom: 3vw;
  position: relative;
  z-index: 1;
}

.Review_Check_input:hover,
.Review_Check_input:focus,
.button:hover,
.button:focus {
  background-color: #9fa9e9;
  border-color: #9fa9e9;
  color: white;
}

.check {
  height: auto;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.check_form {
  display: flex;
  justify-content: center;
  font-size: 1.5vw;
  position: relative;
}

.check_form button {
  margin-top: -1vh;
  margin-left: 57vw;
  border-radius: 50%;
  color: #3a278b;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease;
  z-index: 1;
}
.button {
  width: 3vw !important;
  height: 2.9vw !important;
  font-size: 3.2vw;
}
.check_form button:hover,
.check_form button:focus {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #3a278b !important;
}
