.result-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.result-container_body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 2vw;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

footer {
  margin-top: auto;
}

.Detail_List {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.Detail_Title {
  margin-bottom: 1vw;
  padding: 2vw;
  background-color: #fff;
  border-radius: 1.1vw;
  box-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  word-wrap: break-word;
  height: auto;
  flex: 1 1 20vh;
  box-sizing: border-box;
}

.Detail_Title .ant-list-item-meta-title {
  font-size: 1.2vw !important;
  font-weight: bold;
  margin-bottom: 1vw;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 1;
}

.Detail_Title .ant-list-item-meta-description {
  font-size: 1.2vw !important;
  color: #888;
  margin-bottom: 1vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 1;
}

.Detail_Title .content-detail {
  font-size: 1.2vw !important;
  margin-bottom: 2vw;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.ant-pagination {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  position: relative;
  font-size: 1.2vw !important;
}

.card-container {
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-extra {
  font-size: 14px;
  color: gray;
}
