.staticmain {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.progress-container {
  flex-grow: 1;
  padding: 2rem;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.static_card {
  position: relative;
  width: 30vw;
  flex-grow: 1;
}

.ant-card {
  border-radius: 10px;
  padding: 1rem;
}

.ant-card-title {
  font-size: 1.5rem;
}

.ant-progress {
  margin-top: 1rem;
}
