.full-screen {
  width: 100%;
  height: 100vh; /* 뷰포트의 전체 높이를 차지 */
  display: flex;
  justify-content: center; /* 가로로 가운데 정렬 */
  align-items: center; /* 세로로 가운데 정렬 */
}
@font-face {
  font-family: "Hahmlet-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KIMM_Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "D2Coding";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ghanachoco";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
hr {
  border: 0.5vh solid #39278b;
  margin: 0.1vh 0;
}
/* 모든 태그의 margin, padding 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: none !important;
}
